@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: Agenor-Regular;
        font-weight: 400;
        src: url(../fonts/Agenor-Regular.ttf);
    }
    @font-face {
        font-family: Agenor-Bold;
        font-weight: 900;
        src: url(../fonts/Agenor-Bold.ttf);
    }
    @font-face {
        font-family: Agenor-Black;
        font-weight: 700;
        src: url(../fonts/Agenor-Black.ttf);
    }
}

* {
    @apply outline-none
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 10px;
    overflow: hidden;
}


/* Track */

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.25);
    z-index: 9999;
    cursor: pointer;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.75);
    z-index: 9999;
    cursor: pointer;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #000000;
    z-index: 9999;
    cursor: pointer;
}

.banner {
    background: url("../images/geometric-banner.png") top right no-repeat;
    @apply bg-primary bg-contain;
}

.form-label {
    @apply text-gray-500 block mb-2
}

.form-input,
.form-select {
    @apply w-full p-3 border-gray-400 border rounded hover:border-primary focus:border-primary sm:p-4 outline-none
}

.form-select-icon {
    background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3E%3Cpath d='M15.3 9.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z'/%3E%3C/svg%3E") right .5rem center;
    background-size: 25px;
    @apply bg-no-repeat pr-5 appearance-none
}

.blue-btn {
    @apply bg-primary shadow-lg outline-none border-primary float-right mt-5 px-14 py-4 rounded-full border text-sm text-white hover:bg-white hover:text-primary transition duration-200 uppercase tracking-wider
}

.open-inspection {
    @apply bg-primary border-primary
}

.open-inspection h6 {
    @apply text-white
}

.custom-label input:checked + svg {
    @apply opacity-100 visible !important;
}